$blue: #39c2d7;
$lime-green: #A3C644;
$graphite: #464547;
$white: #ffffff;

$raspberry: #B22746;
$plum: #8E244D;
$dark-blue: #1A9CB0;
$dark-green: #7F993A;

$black: #000000;
$dark-gray: #464547;
$medium-gray: #666666;
$gray: #999999;
$light-gray: #cccccc;