.big-book-card {
    width: $BIG_BOOK_CARD_WIDTH;
    height: auto;
    margin: 0 15px 15px 0;
    border: $BORDER_UNFOCUSED;

    img {
        width: 100%;
    }
}

.book-details {
    .badges {
        margin: 15px 0;
        span + span {
            margin-left: 10px;
        }
    }
}

.book-description {
    text-indent: $BOOK_DESCRIPTION_INDENT;
    margin: 15px 0;
}

.book-rating {
    display: inline-block;
}

