.question-title p {
    margin-left: 42px;
}

.question-title::before {
    float: left;
    content: 'Q:';
    margin: 0 15px 0 0;
    font-size: 30px;
    color: $raspberry;
}

.answer-text p {
    margin-left: 42px;
}

.answer-text::before {
    float: left;
    content: 'A:';
    margin: 0 15px 0 0;
    font-size: 30px;
    color: $lime-green;
}

.answer-video-container {
    margin: 10px 42px;
}