.item-container {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: $BORDER_UNFOCUSED;
    transition: all $ITEM_CARD_TRANSITION;

    &:hover {
        cursor: pointer;
        border: $BORDER_FOCUSED;
    }
}

.item-list-container {
    border-right: 1px solid black;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 280px;
    overflow-y: auto;

    li.active .item-container {
        border: $BORDER_ACTIVE;
    }
}

.book-item-body {
    padding: 20px;
    height: 260px;
}

.item-footer {
    background: $dark-gray;
    height: 30px;
    padding: 5px;
}

.footer-title {
    color: $white;
    font-size: 14px;
}

.footer-count {
    font-size: 12px;
}

.question-item-body {
    padding: 5px;
}

.book-image {
    max-width: 100%;
}