.item-container {

    width: 180px;

    /*position: relative;
    left: 40px;
    margin-top: -85%;
    transition: all $ITEM_CARD_TRANSITION;*/
    border: $BORDER_FOCUSED;

    &:hover {
        cursor: pointer;
        /*transform-origin: bottom right;
        transform: rotate(10deg);
        animation-duration: 0.5s;*/
    }
}

#book-carousel {
    width: 80%;
    height: 80%;
    position: fixed;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    border: 2px solid green;
}

.item-list-container {
    position: absolute;
    top: 170px;
    left: 40px;
    width: 220px;
    height: 300px;
    overflow: visible;
    perspective: 1000px;

    border: 2px solid black;

    li {

        display: block;
        position: absolute;

        /*left: 10px;
        top: 10px;*/


        /*position: absolute;
        display: block;
        left: 40px;
        top: 20px;*/


        opacity: 0.8;
        /*&.active {
            opacity: 1;
        }*/
    }
}

.book-item-body {
    padding: 20px;
    height: 260px;
}

.item-footer {
    background: $dark-gray;
    height: 30px;
    padding: 5px;
}

.footer-title {
    color: $white;
    font-size: 14px;
}

.footer-count {
    font-size: 12px;
}

.question-item-body {
    padding: 5px;
}

.book-image {
    max-width: 100%;
}