.user-profile-title {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: $white;
    font-family: 'Oswald Regular', Tahoma, sans-serif;
    text-decoration: none;

    a {
        color: $white;
    }

}

.search-container {
    padding: 13px;
}

.uui-search-custom {
    background-position: right 10px center;
    padding: 0 35px 0 15px;
    background-color: $dark-gray;

    &:focus {
        background-color: $white;
    }
}