.search-container {
    padding: 13px;
}

.profile-name-custom {
    padding: 0 15px;
    color: $white;
    text-transform: none;
}

.profile-photo.round {
    border-radius: 50%;
}

.uui-search-custom {
    background-position: right 10px center;
    padding: 0 35px 0 15px;
    background-color: $dark-gray;

    &:focus {
        background-color: $white;
    }
}

.uui-search-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
}